= form_for [main_app, :refinery_admin, @blog,@post], :html => {:multipart => true}  do |f|
  - render :partial => "/refinery/admin/error_messages", |
    :locals => { :object => @post, :include_object_name => true }

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :story
    %br
    = f.text_area :story, :class=> 'wymeditor widest'
  .field
    = f.label :categories
    %br
    = f.text_field :category_list
    .categories.help Separate each item with a comma.
    .image_upload
    =@post.post_images.length
    =f.fields_for :post_images do |builder|
      - if builder.object.new_record?
        .fileupload.field
          =builder.label :caption, "Image Caption"
          =builder.text_field :caption
          =builder.label :photo, "File"
          =builder.file_field :photo
      - else
        .uploaded_image.field
          = builder.hidden_field :retained_photo
          = builder.label :remove_photo, :style=>"display: inline"
          = builder.check_box :remove_photo
          = image_tag builder.object.photo.thumb('100x100').url if builder.object.photo_uid


  .field
    = f.radio_button "publish_status", 'draft'
    = f.label :publish_status, t('.draft_status'), :value=>'draft'
    = f.radio_button "publish_status", 'published'
    = f.label :publish_status, t('.published_status'),:value=>'published'
    = f.label :publish_on
    = f.datetime_select :publish_on, :include_blank=> true
  .actions
    = f.submit :class=>"wymupdate button"