= form_for [main_app, :refinery_admin, @blog] do |f|
  - render :partial => "/refinery/admin/error_messages", |
    :locals => { :object => @blog, :include_object_name => true }

  %ul
    - @blog.errors.full_messages.each do |msg|
      %li= msg
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :subheading
    %br
    = f.text_field :subheading
  .field
    = f.label :description
    = f.text_area :description, :class=> 'wymeditor widest'
  .field
    = f.label :authors
    %br
    = f.collection_select :author_ids, @users, :id, :email, {}, :multiple => true
  .actions
    = f.submit :class=>"wymupdate button"
